*{
  margin: 0;
}

.row-poster{
 
  transition: transform 450ms;

}
.row-poster:hover{
 transform: scale(1.08);
}

.row-posters::-webkit-scrollbar{
    display: none;
}

/* .backgroundIMG{
  height: 200px;
 

} */
